* {
  margin: 0;
  padding: 0;
}

html {
  /*background-color: #f8f9fa;*/
  background-color: #f8f9fa;
}

body {
  margin: 0 auto;
  max-width: 50em;
  /*box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);*/
  background-color: #f8f9fa;
  color: #444;
  font-size: 1.15em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

header {
  padding: 1em 0;
  text-align: center;
}

nav {
  padding: .5em 0;
  text-align: center;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

nav ul {
  list-style-type: none;
  /*
  Note: try playing around with this in a browser element inspector by turning this styling rule on or off.
  It seems like this rule is redundant once you make the list element display as inline!
  */
}

nav ul li {
  display: inline;
  margin: 0 1.5em 0 1.5em;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
}

nav ul li a:visited {
  text-decoration: none;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
}

nav ul li a.current {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
}

main {
  padding: 20px;
}

main p {
  margin-bottom: 20px;
}

main p:last-child {
  margin-bottom: 0px;
}

article {
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 20px;
}

article:last-child{
  margin-bottom: 0;
}

article h2 {
  margin: 0;
}

article h2 a {
  color: #444;
  text-underline-offset: 3px;
  text-decoration-skip-ink: none;
}

article h2 a:hover {
  text-decoration: none;
}

article p.entry-date {
  margin-bottom: 20px;
}

footer {
  /*border-top: 2px solid #000000;*/
  text-align: center;
  font-size: 70%;
}

@media only screen and (max-width: 450px) {
  nav ul li {
    display: block;
    margin: .1em;
  }
}